<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- INTERNET para enviar dados para a IA -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Localização (necessária para escanear BLE até Android 11) -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- BLE permissões Legacy -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <!-- Android 12+ BLE permissões -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN"
        tools:targetApi="31" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT"
        tools:targetApi="31" />

    <!-- Declara que o app suporta BLE -->
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false"/>
    
    <application
        android:name="${applicationName}"
        android:label="educare"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:hardwareAccelerated="true"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:windowSoftInputMode="adjustResize">

            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Permite que seu app seja aberto por links -->
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
    
                <!-- Define o esquema do seu Deep Link: io.supabase.educare://login/reset-password -->
                <data android:scheme="io.supabase.educare" android:host="login" /> 
            </intent-filter>

        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>

</manifest>
